{
  "openapi": "3.1.0",
  "info": {
    "title": "SiteReconstructor Media API",
    "version": "0.1.0",
    "description": "Generated from authorized passive website capture evidence. Schemas are inferred drafts until validated."
  },
  "servers": [
    {
      "url": "https://vk.com",
      "description": "frontend"
    },
    {
      "url": "https://api.vk.com",
      "description": "auth"
    },
    {
      "url": "https://r.mradx.net",
      "description": "media"
    },
    {
      "url": "https://vkvd744.okcdn.ru",
      "description": "media"
    },
    {
      "url": "https://api.okcdn.ru",
      "description": "media"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/al_video.php": {
      "post": {
        "tags": [
          "Chat",
          "Media"
        ],
        "summary": "POST /al_video.php",
        "description": "Inferred from passive capture. Auth hint: auth likely. Confidence: 91%.",
        "parameters": [
          {
            "name": "act",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer {{access_token}}"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "langVersion": {
                      "type": "string"
                    },
                    "loaderVersion": {
                      "type": "string"
                    },
                    "payload": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "statsMeta": {
                      "type": "object",
                      "properties": {
                        "hash": {
                          "type": "string"
                        },
                        "id": {
                          "type": "number"
                        },
                        "platform": {
                          "type": "string"
                        },
                        "reloadVersion": {
                          "type": "number"
                        },
                        "st": {
                          "type": "boolean"
                        },
                        "time": {
                          "type": "number"
                        }
                      }
                    },
                    "vkEnv": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "langVersion": "string",
                  "loaderVersion": "string",
                  "payload": [
                    1
                  ],
                  "statsMeta": {
                    "hash": "string",
                    "id": 1,
                    "platform": "string",
                    "reloadVersion": 1,
                    "st": true,
                    "time": 1
                  },
                  "vkEnv": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.91,
          "server_kind": "media",
          "category": "chat",
          "auth_hint": "auth likely",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/al_video.php"
        }
      }
    },
    "/method/video.get": {
      "post": {
        "tags": [
          "Download",
          "Media"
        ],
        "summary": "POST /method/video.get",
        "description": "Inferred from passive capture. Auth hint: auth likely. Confidence: 83%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer {{access_token}}"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "added": {
                                "type": "number"
                              },
                              "can_add": {
                                "type": "number"
                              },
                              "can_add_to_faves": {
                                "type": "number"
                              },
                              "can_attach_link": {
                                "type": "number"
                              },
                              "can_comment": {
                                "type": "number"
                              },
                              "can_delete": {
                                "type": "number"
                              },
                              "can_dislike": {
                                "type": "number"
                              },
                              "can_download": {
                                "type": "number"
                              },
                              "can_edit": {
                                "type": "number"
                              },
                              "can_edit_privacy": {
                                "type": "number"
                              },
                              "can_like": {
                                "type": "number"
                              },
                              "can_play_in_background": {
                                "type": "number"
                              },
                              "can_repost": {
                                "type": "number"
                              },
                              "comments": {
                                "type": "number"
                              },
                              "date": {
                                "type": "number"
                              },
                              "description": {
                                "type": "string"
                              },
                              "direct_url": {
                                "type": "string"
                              },
                              "download": {
                                "type": "object",
                                "properties": {
                                  "can_download_for_offline_view": {
                                    "type": "boolean"
                                  },
                                  "can_download_to_device": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "duration": {
                                "type": "number"
                              },
                              "files": {
                                "type": "object",
                                "properties": {
                                  "dash_sep": {
                                    "type": "string"
                                  },
                                  "failover_host": {
                                    "type": "string"
                                  },
                                  "hls": {
                                    "type": "string"
                                  },
                                  "hls_fmp4": {
                                    "type": "string"
                                  },
                                  "mp4_1080": {
                                    "type": "string"
                                  },
                                  "mp4_144": {
                                    "type": "string"
                                  },
                                  "mp4_1440": {
                                    "type": "string"
                                  },
                                  "mp4_2160": {
                                    "type": "string"
                                  },
                                  "mp4_240": {
                                    "type": "string"
                                  },
                                  "mp4_360": {
                                    "type": "string"
                                  },
                                  "mp4_480": {
                                    "type": "string"
                                  },
                                  "mp4_720": {
                                    "type": "string"
                                  }
                                }
                              },
                              "first_frame": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  }
                                }
                              },
                              "height": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "image": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    },
                                    "with_padding": {
                                      "type": "number"
                                    }
                                  }
                                }
                              },
                              "is_author": {
                                "type": "boolean"
                              },
                              "likes": {
                                "type": "object",
                                "properties": {
                                  "count": {
                                    "type": "number"
                                  },
                                  "user_likes": {
                                    "type": "number"
                                  }
                                }
                              },
                              "local_views": {
                                "type": "number"
                              },
                              "need_mediascope_stat": {
                                "type": "boolean"
                              },
                              "ov_id": {
                                "type": "string"
                              },
                              "ov_provider_id": {
                                "type": "number"
                              },
                              "owner_id": {
                                "type": "number"
                              },
                              "player": {
                                "type": "string"
                              },
                              "privacy_comment": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "string"
                                  },
                                  "excluded_category": {
                                    "type": "string"
                                  },
                                  "is_enabled": {
                                    "type": "boolean"
                                  },
                                  "owners": {
                                    "type": "object",
                                    "properties": {}
                                  }
                                }
                              },
                              "privacy_view": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "string"
                                  },
                                  "excluded_category": {
                                    "type": "string"
                                  },
                                  "is_enabled": {
                                    "type": "boolean"
                                  },
                                  "owners": {
                                    "type": "object",
                                    "properties": {}
                                  }
                                }
                              },
                              "reposts": {
                                "type": "object",
                                "properties": {
                                  "count": {
                                    "type": "number"
                                  },
                                  "mail_count": {
                                    "type": "number"
                                  },
                                  "wall_count": {
                                    "type": "number"
                                  }
                                }
                              },
                              "response_type": {
                                "type": "string"
                              },
                              "share_url": {
                                "type": "string"
                              },
                              "stats_pixels": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "event": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "timeline_thumbs": {
                                "type": "object",
                                "properties": {
                                  "count_per_image": {
                                    "type": "number"
                                  },
                                  "count_per_row": {
                                    "type": "number"
                                  },
                                  "count_total": {
                                    "type": "number"
                                  },
                                  "frame_height": {
                                    "type": "number"
                                  },
                                  "frame_width": {
                                    "type": "number"
                                  },
                                  "frequency": {
                                    "type": "number"
                                  },
                                  "is_uv": {
                                    "type": "boolean"
                                  },
                                  "links": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "title": {
                                "type": "string"
                              },
                              "track_code": {
                                "type": "string"
                              },
                              "tracking_info": {
                                "type": "object",
                                "properties": {
                                  "navigation": {
                                    "type": "object",
                                    "properties": {
                                      "source_block": {
                                        "type": "string"
                                      },
                                      "source_prev_screen": {
                                        "type": "string"
                                      },
                                      "source_screen": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "recom_info": {
                                    "type": "object",
                                    "properties": {
                                      "feature_sampling_uuid": {
                                        "type": "string"
                                      },
                                      "recom_sources": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "search_info": {
                                    "type": "object",
                                    "properties": {
                                      "search_query_id": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "type": {
                                "type": "string"
                              },
                              "views": {
                                "type": "number"
                              },
                              "wall_post_id": {
                                "type": "number"
                              },
                              "width": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "max_attached_short_videos": {
                          "type": "number"
                        },
                        "profiles": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "can_access_closed": {
                                "type": "boolean"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "is_closed": {
                                "type": "boolean"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "online": {
                                "type": "number"
                              },
                              "online_app": {
                                "type": "number"
                              },
                              "online_info": {
                                "type": "object",
                                "properties": {
                                  "app_id": {
                                    "type": "number"
                                  },
                                  "is_mobile": {
                                    "type": "boolean"
                                  },
                                  "is_online": {
                                    "type": "boolean"
                                  },
                                  "last_seen": {
                                    "type": "number"
                                  },
                                  "visible": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "photo_100": {
                                "type": "string"
                              },
                              "photo_50": {
                                "type": "string"
                              },
                              "photo_base": {
                                "type": "string"
                              },
                              "screen_name": {
                                "type": "string"
                              },
                              "sex": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "count": 1,
                    "items": [
                      {
                        "added": 1,
                        "can_add": 1,
                        "can_add_to_faves": 1,
                        "can_attach_link": 1,
                        "can_comment": 1,
                        "can_delete": 1,
                        "can_dislike": 1,
                        "can_download": 1,
                        "can_edit": 1,
                        "can_edit_privacy": 1,
                        "can_like": 1,
                        "can_play_in_background": 1,
                        "can_repost": 1,
                        "comments": 1,
                        "date": 1,
                        "description": "string",
                        "direct_url": "string",
                        "download": {
                          "can_download_for_offline_view": true,
                          "can_download_to_device": true
                        },
                        "duration": 1,
                        "files": {
                          "dash_sep": "string",
                          "failover_host": "string",
                          "hls": "string",
                          "hls_fmp4": "string",
                          "mp4_1080": "string",
                          "mp4_144": "string",
                          "mp4_1440": "string",
                          "mp4_2160": "string",
                          "mp4_240": "string",
                          "mp4_360": "string",
                          "mp4_480": "string",
                          "mp4_720": "string"
                        }
                      }
                    ],
                    "max_attached_short_videos": 1,
                    "profiles": [
                      {
                        "can_access_closed": true,
                        "first_name": "string",
                        "id": 1,
                        "is_closed": true,
                        "last_name": "string",
                        "online": 1,
                        "online_app": 1,
                        "online_info": {
                          "app_id": 1,
                          "is_mobile": true,
                          "is_online": true,
                          "last_seen": 1,
                          "visible": true
                        },
                        "photo_100": "string",
                        "photo_50": "string",
                        "photo_base": "string",
                        "screen_name": "string",
                        "sex": 1
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.83,
          "server_kind": "media",
          "category": "download",
          "auth_hint": "auth likely",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/video.get"
        }
      }
    },
    "/method/video.getPlayerConfig": {
      "post": {
        "tags": [
          "Download",
          "Media"
        ],
        "summary": "POST /method/video.getPlayerConfig",
        "description": "Inferred from passive capture. Auth hint: cookie/session. Confidence: 82%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer {{access_token}}"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "config": {
                          "type": "object",
                          "properties": {
                            "core": {
                              "type": "object",
                              "properties": {
                                "androidPreferredFormat": {
                                  "type": "string"
                                },
                                "autoTrackSelection": {
                                  "type": "object",
                                  "properties": {
                                    "bitrateFactorAtEmptyBuffer": {
                                      "type": "number"
                                    },
                                    "bitrateFactorAtFullBuffer": {
                                      "type": "number"
                                    },
                                    "trackCooldownDecreaseQuality": {
                                      "type": "number"
                                    },
                                    "trackCooldownIncreaseQuality": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "chromecastPresentationApi": {
                                  "type": "boolean"
                                },
                                "chromecastReceiverId": {
                                  "type": "string"
                                },
                                "clearVideoElementInnerHTML": {
                                  "type": "boolean"
                                },
                                "collectingDecodingInfoEnabled": {
                                  "type": "boolean"
                                },
                                "configName": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "dash": {
                                  "type": "object",
                                  "properties": {
                                    "ignoreNetworkErrorsOnLoadInit": {
                                      "type": "boolean"
                                    },
                                    "qualityLimitsOnStall": {
                                      "type": "object",
                                      "properties": {
                                        "resetQualityRestrictionTimeout": {
                                          "type": "number"
                                        },
                                        "stallCountBeforeQualityDecrease": {
                                          "type": "number"
                                        },
                                        "stallDurationNoDataBeforeQualityDecrease": {
                                          "type": "number"
                                        }
                                      }
                                    },
                                    "rejectOnSourceOpenTimeout": {
                                      "type": "boolean"
                                    },
                                    "sourceOpenTimeout": {
                                      "type": "number"
                                    },
                                    "useNewAbr": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "devNullLogEnabled": {
                                  "type": "boolean"
                                },
                                "keepVideoElement": {
                                  "type": "boolean"
                                },
                                "maxPlaybackTransitionInterval": {
                                  "type": "number"
                                },
                                "preferHDR": {
                                  "type": "boolean"
                                },
                                "preferMultiStream": {
                                  "type": "boolean"
                                },
                                "stallsManager": {
                                  "type": "object",
                                  "properties": {
                                    "enabled": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "useHlsJs": {
                                  "type": "boolean"
                                },
                                "useManagedMediaSource": {
                                  "type": "boolean"
                                },
                                "useNewAutoSelectVideoTrack": {
                                  "type": "boolean"
                                },
                                "useSafariEndlessRequestBugfix": {
                                  "type": "boolean"
                                },
                                "webmCodec": {
                                  "type": "string"
                                }
                              }
                            },
                            "meta": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "statistics": {
                              "type": "object",
                              "properties": {
                                "apiEnv": {
                                  "type": "string"
                                },
                                "embedUrlParams": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "watchCoverageInterval": {
                                  "type": "number"
                                },
                                "watchCoverageTimeoutFix": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "ui": {
                              "type": "object",
                              "properties": {
                                "ads": {
                                  "type": "object",
                                  "properties": {
                                    "isVsidOriginal": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "configName": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "devNullLog": {
                                  "type": "boolean"
                                },
                                "disablePiPResizeHandling": {
                                  "type": "boolean"
                                },
                                "downloadVKLanguages": {
                                  "type": "boolean"
                                },
                                "episodeMinWidthPc": {
                                  "type": "number"
                                },
                                "features": {
                                  "type": "object",
                                  "properties": {
                                    "additionalButtons": {
                                      "type": "boolean"
                                    },
                                    "annotations": {
                                      "type": "boolean"
                                    },
                                    "annotationsInside": {
                                      "type": "boolean"
                                    },
                                    "audioLanguages": {
                                      "type": "boolean"
                                    },
                                    "disableThumbUnstartedOnAutoplay": {
                                      "type": "boolean"
                                    },
                                    "dpip": {
                                      "type": "boolean"
                                    },
                                    "endScreen": {
                                      "type": "boolean"
                                    },
                                    "episodesClustering": {
                                      "type": "boolean"
                                    },
                                    "forceAutoQualityWhenSevereStallHappens": {
                                      "type": "boolean"
                                    },
                                    "forcePlayerDisplayBlock": {
                                      "type": "boolean"
                                    },
                                    "fullscreenInternalTargetPlayerContainer": {
                                      "type": "boolean"
                                    },
                                    "interactiveAreaControlShadow": {
                                      "type": "boolean"
                                    },
                                    "interactiveControlsExpectTimeBlinkAnimation": {
                                      "type": "boolean"
                                    },
                                    "interactiveControlsFillAnimation": {
                                      "type": "boolean"
                                    },
                                    "interactiveControlsHideAnimation": {
                                      "type": "boolean"
                                    },
                                    "interactiveControlsTapPlace": {
                                      "type": "boolean"
                                    },
                                    "interactiveGraph": {
                                      "type": "boolean"
                                    },
                                    "interactiveHistoryEndChapterFix": {
                                      "type": "boolean"
                                    },
                                    "interactiveLastFrame": {
                                      "type": "boolean"
                                    },
                                    "interactiveTimeIndicator": {
                                      "type": "boolean"
                                    },
                                    "interactiveTimeOpenUri": {
                                      "type": "boolean"
                                    },
                                    "maxCountShowSlowVideoNotification": {
                                      "type": "number"
                                    },
                                    "mediaSession": {
                                      "type": "string"
                                    },
                                    "mobileVkLogoViewOnBottomControls": {
                                      "type": "boolean"
                                    },
                                    "playbackStatusAnimationDuration": {
                                      "type": "number"
                                    },
                                    "playbackStatusNextVideoAnimationDuration": {
                                      "type": "number"
                                    },
                                    "playbackStatusNextVideoShow": {
                                      "type": "boolean"
                                    },
                                    "playbackStatusShow": {
                                      "type": "boolean"
                                    },
                                    "qualityDetailsSubMenuEnabled": {
                                      "type": "boolean"
                                    },
                                    "savePreferredStatesOnUserActionOnly": {
                                      "type": "boolean"
                                    },
                                    "saveRate": {
                                      "type": "boolean"
                                    },
                                    "sentry": {
                                      "type": "boolean"
                                    },
                                    "showSlowVideoNotification": {
                                      "type": "boolean"
                                    },
                                    "thinStatistics": {
                                      "type": "boolean"
                                    },
                                    "thumbTimer": {
                                      "type": "boolean"
                                    },
                                    "timeoutShowSlowVideoNotification": {
                                      "type": "number"
                                    },
                                    "userVideoPrefs": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "hideThumbTimerAfterTouch": {
                                  "type": "boolean"
                                },
                                "sentry": {
                                  "type": "object",
                                  "properties": {
                                    "sampleRate": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "updateBuiltinLanguages": {
                                  "type": "boolean"
                                },
                                "view": {
                                  "type": "object",
                                  "properties": {
                                    "timelineSliderFilledColor": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "config": {
                      "core": {
                        "androidPreferredFormat": "string",
                        "autoTrackSelection": {
                          "bitrateFactorAtEmptyBuffer": 1,
                          "bitrateFactorAtFullBuffer": 1,
                          "trackCooldownDecreaseQuality": 1,
                          "trackCooldownIncreaseQuality": 1
                        },
                        "chromecastPresentationApi": true,
                        "chromecastReceiverId": "string",
                        "clearVideoElementInnerHTML": true,
                        "collectingDecodingInfoEnabled": true,
                        "configName": [
                          "string"
                        ],
                        "dash": {
                          "ignoreNetworkErrorsOnLoadInit": true,
                          "qualityLimitsOnStall": {
                            "resetQualityRestrictionTimeout": 1,
                            "stallCountBeforeQualityDecrease": 1,
                            "stallDurationNoDataBeforeQualityDecrease": 1
                          },
                          "rejectOnSourceOpenTimeout": true,
                          "sourceOpenTimeout": 1,
                          "useNewAbr": true
                        },
                        "devNullLogEnabled": true,
                        "keepVideoElement": true,
                        "maxPlaybackTransitionInterval": 1,
                        "preferHDR": true,
                        "preferMultiStream": true,
                        "stallsManager": {
                          "enabled": true
                        },
                        "useHlsJs": true,
                        "useManagedMediaSource": true,
                        "useNewAutoSelectVideoTrack": true,
                        "useSafariEndlessRequestBugfix": true,
                        "webmCodec": "string"
                      },
                      "meta": [
                        "string"
                      ],
                      "statistics": {
                        "apiEnv": "string",
                        "embedUrlParams": [
                          "string"
                        ],
                        "watchCoverageInterval": 1,
                        "watchCoverageTimeoutFix": true
                      },
                      "ui": {
                        "ads": {
                          "isVsidOriginal": true
                        },
                        "configName": [
                          "string"
                        ],
                        "devNullLog": true,
                        "disablePiPResizeHandling": true,
                        "downloadVKLanguages": true,
                        "episodeMinWidthPc": 1,
                        "features": {
                          "additionalButtons": true,
                          "annotations": true,
                          "annotationsInside": true,
                          "audioLanguages": true,
                          "disableThumbUnstartedOnAutoplay": true,
                          "dpip": true,
                          "endScreen": true,
                          "episodesClustering": true,
                          "forceAutoQualityWhenSevereStallHappens": true,
                          "forcePlayerDisplayBlock": true,
                          "fullscreenInternalTargetPlayerContainer": true,
                          "interactiveAreaControlShadow": true,
                          "interactiveControlsExpectTimeBlinkAnimation": true,
                          "interactiveControlsFillAnimation": true,
                          "interactiveControlsHideAnimation": true,
                          "interactiveControlsTapPlace": true,
                          "interactiveGraph": true,
                          "interactiveHistoryEndChapterFix": true,
                          "interactiveLastFrame": true,
                          "interactiveTimeIndicator": true
                        },
                        "hideThumbTimerAfterTouch": true,
                        "sentry": {
                          "sampleRate": 1
                        },
                        "updateBuiltinLanguages": true,
                        "view": {
                          "timelineSliderFilledColor": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.82,
          "server_kind": "media",
          "category": "download",
          "auth_hint": "cookie/session",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/video.getPlayerConfig"
        }
      }
    },
    "/imgs/:id/8e/d4b28cc0b905374f.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/:id/8e/d4b28cc0b905374f.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 95%.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.9500000000000001,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/imgs/:id/8e/d4b28cc0b905374f.svg"
        }
      }
    },
    "/imgs/:id/c0/ca37933876686dcd.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/:id/c0/ca37933876686dcd.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 95%.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.9500000000000001,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/imgs/:id/c0/ca37933876686dcd.svg"
        }
      }
    },
    "/imgs/b6/:id/93a837dc06183017.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/b6/:id/93a837dc06183017.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 95%.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.9500000000000001,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/imgs/b6/:id/93a837dc06183017.svg"
        }
      }
    },
    "/imgs/cf/aa/a8655ac54f10b068.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/cf/aa/a8655ac54f10b068.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 95%.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.9500000000000001,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/imgs/cf/aa/a8655ac54f10b068.svg"
        }
      }
    },
    "/imgs/cf/e5/32db22916648f14d.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/cf/e5/32db22916648f14d.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 95%.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.9500000000000001,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/imgs/cf/e5/32db22916648f14d.svg"
        }
      }
    },
    "/imgs/df/:id/6fb16c27a25e2c38.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/df/:id/6fb16c27a25e2c38.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 95%.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.9500000000000001,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/imgs/df/:id/6fb16c27a25e2c38.svg"
        }
      }
    },
    "/imgs/ee/:id/84ed4e4a5ae73316.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/ee/:id/84ed4e4a5ae73316.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 95%.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.9500000000000001,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/imgs/ee/:id/84ed4e4a5ae73316.svg"
        }
      }
    },
    "/imgs/{id1}/c0/ca37933876686dcd.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/37/c0/ca37933876686dcd.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 68%.",
        "parameters": [
          {
            "name": "37",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.68,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "https://r.mradx.net/imgs/37/c0/ca37933876686dcd.svg"
        }
      }
    },
    "/imgs/{id1}/8e/d4b28cc0b905374f.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/63/8e/d4b28cc0b905374f.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 68%.",
        "parameters": [
          {
            "name": "63",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.68,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "https://r.mradx.net/imgs/63/8e/d4b28cc0b905374f.svg"
        }
      }
    },
    "/imgs/b6/{id1}/93a837dc06183017.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/b6/09/93a837dc06183017.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 68%.",
        "parameters": [
          {
            "name": "09",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.68,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "https://r.mradx.net/imgs/b6/09/93a837dc06183017.svg"
        }
      }
    },
    "/imgs/df/{id1}/6fb16c27a25e2c38.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/df/92/6fb16c27a25e2c38.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 68%.",
        "parameters": [
          {
            "name": "92",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.68,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "https://r.mradx.net/imgs/df/92/6fb16c27a25e2c38.svg"
        }
      }
    },
    "/imgs/ee/{id1}/84ed4e4a5ae73316.svg": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "GET /imgs/ee/63/84ed4e4a5ae73316.svg",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 68%.",
        "parameters": [
          {
            "name": "63",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.68,
          "server_kind": "media",
          "category": "media",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "https://r.mradx.net/imgs/ee/63/84ed4e4a5ae73316.svg"
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "Other",
          "Media"
        ],
        "summary": "GET /",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 95%.",
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bytes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expires",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromCache",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pr",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "srcAg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "srcIp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "urls",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {}
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.9500000000000001,
          "server_kind": "media",
          "category": "other",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/"
        }
      }
    },
    "/fb.do": {
      "post": {
        "tags": [
          "Other",
          "Media"
        ],
        "summary": "POST /fb.do",
        "description": "Inferred from passive capture. Auth hint: cookie/session. Confidence: 87%.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer {{access_token}}"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activated_profile": {
                      "type": "boolean"
                    },
                    "api_server": {
                      "type": "string"
                    },
                    "session_key": {
                      "type": "string"
                    },
                    "session_secret_key": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "activated_profile": true,
                  "api_server": "string",
                  "session_key": "str...[masked]",
                  "session_secret_key": "str...[masked]",
                  "uid": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.87,
          "server_kind": "media",
          "category": "other",
          "auth_hint": "cookie/session",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/fb.do"
        }
      }
    },
    "/images/gift/:id/animation.json": {
      "get": {
        "tags": [
          "Other",
          "Media"
        ],
        "summary": "GET /images/gift/:id/animation.json",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 83%.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "ddd": {
                      "type": "number"
                    },
                    "fr": {
                      "type": "number"
                    },
                    "h": {
                      "type": "number"
                    },
                    "ip": {
                      "type": "number"
                    },
                    "layers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ao": {
                            "type": "number"
                          },
                          "bm": {
                            "type": "number"
                          },
                          "ct": {
                            "type": "number"
                          },
                          "ddd": {
                            "type": "number"
                          },
                          "ind": {
                            "type": "number"
                          },
                          "ip": {
                            "type": "number"
                          },
                          "ks": {
                            "type": "object",
                            "properties": {
                              "a": {
                                "type": "object",
                                "properties": {
                                  "a": {
                                    "type": "number"
                                  },
                                  "k": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  "l": {
                                    "type": "number"
                                  }
                                }
                              },
                              "o": {
                                "type": "object",
                                "properties": {
                                  "a": {
                                    "type": "number"
                                  },
                                  "k": {
                                    "type": "number"
                                  }
                                }
                              },
                              "p": {
                                "type": "object",
                                "properties": {
                                  "a": {
                                    "type": "number"
                                  },
                                  "k": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "i": {
                                          "type": "object",
                                          "properties": {
                                            "x": {
                                              "type": "number"
                                            },
                                            "y": {
                                              "type": "number"
                                            }
                                          }
                                        },
                                        "o": {
                                          "type": "object",
                                          "properties": {
                                            "x": {
                                              "type": "number"
                                            },
                                            "y": {
                                              "type": "number"
                                            }
                                          }
                                        },
                                        "s": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "t": {
                                          "type": "number"
                                        },
                                        "ti": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "to": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "l": {
                                    "type": "number"
                                  }
                                }
                              },
                              "r": {
                                "type": "object",
                                "properties": {
                                  "a": {
                                    "type": "number"
                                  },
                                  "k": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "i": {
                                          "type": "object",
                                          "properties": {
                                            "x": {
                                              "type": "array",
                                              "items": {
                                                "type": "number"
                                              }
                                            },
                                            "y": {
                                              "type": "array",
                                              "items": {
                                                "type": "number"
                                              }
                                            }
                                          }
                                        },
                                        "o": {
                                          "type": "object",
                                          "properties": {
                                            "x": {
                                              "type": "array",
                                              "items": {
                                                "type": "number"
                                              }
                                            },
                                            "y": {
                                              "type": "array",
                                              "items": {
                                                "type": "number"
                                              }
                                            }
                                          }
                                        },
                                        "s": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          }
                                        },
                                        "t": {
                                          "type": "number"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "s": {
                                "type": "object",
                                "properties": {
                                  "a": {
                                    "type": "number"
                                  },
                                  "k": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  "l": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          },
                          "op": {
                            "type": "number"
                          },
                          "parent": {
                            "type": "number"
                          },
                          "shapes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bm": {
                                  "type": "number"
                                },
                                "it": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "ind": {
                                        "type": "number"
                                      },
                                      "ks": {
                                        "type": "object",
                                        "properties": {
                                          "a": {
                                            "type": "number"
                                          },
                                          "k": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "i": {
                                                  "type": "object",
                                                  "properties": {
                                                    "x": {
                                                      "type": "number"
                                                    },
                                                    "y": {
                                                      "type": "number"
                                                    }
                                                  }
                                                },
                                                "o": {
                                                  "type": "object",
                                                  "properties": {
                                                    "x": {
                                                      "type": "number"
                                                    },
                                                    "y": {
                                                      "type": "number"
                                                    }
                                                  }
                                                },
                                                "s": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "c": {
                                                        "type": "boolean"
                                                      },
                                                      "i": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "number"
                                                          }
                                                        }
                                                      },
                                                      "o": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "number"
                                                          }
                                                        }
                                                      },
                                                      "v": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "number"
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                "t": {
                                                  "type": "number"
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "ty": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "ty": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "sr": {
                            "type": "number"
                          },
                          "st": {
                            "type": "number"
                          },
                          "ty": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "markers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "op": {
                      "type": "number"
                    },
                    "props": {
                      "type": "object",
                      "properties": {}
                    },
                    "v": {
                      "type": "string"
                    },
                    "w": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "assets": [
                    "unknown"
                  ],
                  "ddd": 1,
                  "fr": 1,
                  "h": 1,
                  "ip": 1,
                  "layers": [
                    {
                      "ao": 1,
                      "bm": 1,
                      "ct": 1,
                      "ddd": 1,
                      "ind": 1,
                      "ip": 1,
                      "ks": {
                        "a": {
                          "a": 1,
                          "k": [
                            1
                          ],
                          "l": 1
                        },
                        "o": {
                          "a": 1,
                          "k": 1
                        },
                        "p": {
                          "a": 1,
                          "k": [
                            {
                              "i": {
                                "x": 1,
                                "y": 1
                              },
                              "o": {
                                "x": 1,
                                "y": 1
                              },
                              "s": [
                                1
                              ],
                              "t": 1,
                              "ti": [
                                1
                              ],
                              "to": [
                                1
                              ]
                            }
                          ],
                          "l": 1
                        },
                        "r": {
                          "a": 1,
                          "k": [
                            {
                              "i": {
                                "x": [
                                  1
                                ],
                                "y": [
                                  1
                                ]
                              },
                              "o": {
                                "x": [
                                  1
                                ],
                                "y": [
                                  1
                                ]
                              },
                              "s": [
                                1
                              ],
                              "t": 1
                            }
                          ]
                        },
                        "s": {
                          "a": 1,
                          "k": [
                            1
                          ],
                          "l": 1
                        }
                      },
                      "op": 1,
                      "parent": 1,
                      "shapes": [
                        {
                          "bm": 1,
                          "it": [
                            {
                              "ind": 1,
                              "ks": {
                                "a": 1,
                                "k": [
                                  {
                                    "i": {
                                      "x": 1,
                                      "y": 1
                                    },
                                    "o": {
                                      "x": 1,
                                      "y": 1
                                    },
                                    "s": [
                                      {
                                        "c": true,
                                        "i": [
                                          [
                                            1
                                          ]
                                        ],
                                        "o": [
                                          [
                                            1
                                          ]
                                        ],
                                        "v": [
                                          [
                                            1
                                          ]
                                        ]
                                      }
                                    ],
                                    "t": 1
                                  }
                                ]
                              },
                              "ty": "string"
                            }
                          ],
                          "ty": "string"
                        }
                      ],
                      "sr": 1,
                      "st": 1,
                      "ty": 1
                    }
                  ],
                  "markers": [
                    "unknown"
                  ],
                  "op": 1,
                  "props": {},
                  "v": "string",
                  "w": 1
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.83,
          "server_kind": "media",
          "category": "other",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/images/gift/:id/animation.json"
        }
      }
    },
    "/method/photos.getAlbums": {
      "post": {
        "tags": [
          "Other",
          "Media"
        ],
        "summary": "POST /method/photos.getAlbums",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 83%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "can_delete": {
                                "type": "boolean"
                              },
                              "can_include_to_feed": {
                                "type": "boolean"
                              },
                              "feed_disabled": {
                                "type": "number"
                              },
                              "feed_has_pinned": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "is_locked": {
                                "type": "boolean"
                              },
                              "owner_id": {
                                "type": "number"
                              },
                              "privacy_view": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "string"
                                  }
                                }
                              },
                              "size": {
                                "type": "number"
                              },
                              "sizes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "src": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  }
                                }
                              },
                              "thumb_id": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "count": 1,
                    "items": [
                      {
                        "can_delete": true,
                        "can_include_to_feed": true,
                        "feed_disabled": 1,
                        "feed_has_pinned": 1,
                        "id": 1,
                        "is_locked": true,
                        "owner_id": 1,
                        "privacy_view": {
                          "category": "string"
                        },
                        "size": 1,
                        "sizes": [
                          {
                            "height": 1,
                            "src": "string",
                            "type": "string",
                            "url": "string",
                            "width": 1
                          }
                        ],
                        "thumb_id": 1,
                        "title": "string"
                      }
                    ]
[...]
