{
  "openapi": "3.0.3",
  "info": {
    "title": "SiteReconstructor Api API",
    "version": "0.1.0",
    "description": "Generated from authorized passive website capture evidence. Schemas are inferred drafts until validated."
  },
  "servers": [
    {
      "url": "https://vk.com",
      "description": "frontend"
    },
    {
      "url": "https://api.vk.com",
      "description": "auth"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/method/catalog.getPeopleSearch": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/catalog.getPeopleSearch",
        "description": "Inferred from passive capture. Auth hint: auth likely. Confidence: 82%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer {{access_token}}"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "albums": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "catalog": {
                          "type": "object",
                          "properties": {
                            "default_section": {
                              "type": "string"
                            },
                            "sections": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "blocks": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "data_type": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "layout": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            },
                                            "title": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "next_from": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "catalog_users": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "common_friends": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "common_friends_count": {
                                "type": "number"
                              },
                              "common_friends_description": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "string"
                                  }
                                }
                              },
                              "descriptions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "item_id": {
                                "type": "string"
                              },
                              "track_code": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "profiles": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "activity": {
                                "type": "string"
                              },
                              "can_access_closed": {
                                "type": "boolean"
                              },
                              "can_call": {
                                "type": "boolean"
                              },
                              "can_write_private_message": {
                                "type": "number"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "friend_status": {
                                "type": "number"
                              },
                              "has_unseen_stories": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "is_closed": {
                                "type": "boolean"
                              },
                              "is_esia_verified": {
                                "type": "boolean"
                              },
                              "is_nft": {
                                "type": "boolean"
                              },
                              "is_sber_verified": {
                                "type": "boolean"
                              },
                              "is_tinkoff_linked": {
                                "type": "boolean"
                              },
                              "is_tinkoff_verified": {
                                "type": "boolean"
                              },
                              "is_verified": {
                                "type": "boolean"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "oauth_verification": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "online_info": {
                                "type": "object",
                                "properties": {
                                  "app_id": {
                                    "type": "number"
                                  },
                                  "is_mobile": {
                                    "type": "boolean"
                                  },
                                  "is_online": {
                                    "type": "boolean"
                                  },
                                  "last_seen": {
                                    "type": "number"
                                  },
                                  "visible": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "photo_100": {
                                "type": "string"
                              },
                              "photo_200": {
                                "type": "string"
                              },
                              "photo_50": {
                                "type": "string"
                              },
                              "photo_base": {
                                "type": "string"
                              },
                              "screen_name": {
                                "type": "string"
                              },
                              "sex": {
                                "type": "number"
                              },
                              "social_button_type": {
                                "type": "string"
                              },
                              "trending": {
                                "type": "number"
                              },
                              "verified": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "albums": [
                      "unknown"
                    ],
                    "catalog": {
                      "default_section": "string",
                      "sections": [
                        {
                          "blocks": [
                            {
                              "data_type": "string",
                              "id": "string",
                              "layout": {
                                "name": "string",
                                "title": "string"
                              }
                            }
                          ],
                          "id": "string",
                          "next_from": "string",
                          "title": "string"
                        }
                      ]
                    },
                    "catalog_users": [
                      {
                        "common_friends": [
                          1
                        ],
                        "common_friends_count": 1,
                        "common_friends_description": {
                          "text": "string"
                        },
                        "descriptions": [
                          {
                            "text": "string"
                          }
                        ],
                        "item_id": "string",
                        "track_code": "string",
                        "user_id": 1
                      }
                    ],
                    "profiles": [
                      {
                        "activity": "string",
                        "can_access_closed": true,
                        "can_call": true,
                        "can_write_private_message": 1,
                        "first_name": "string",
                        "friend_status": 1,
                        "has_unseen_stories": true,
                        "id": 1,
                        "is_closed": true,
                        "is_esia_verified": true,
                        "is_nft": true,
                        "is_sber_verified": true,
                        "is_tinkoff_linked": true,
                        "is_tinkoff_verified": true,
                        "is_verified": true,
                        "last_name": "string",
                        "oauth_verification": [
                          "unknown"
                        ],
                        "online_info": {
                          "app_id": 1,
                          "is_mobile": true,
                          "is_online": true,
                          "last_seen": 1,
                          "visible": true
                        },
                        "photo_100": "string",
                        "photo_200": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.82,
          "server_kind": "api",
          "category": "chat",
          "auth_hint": "auth likely",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/catalog.getPeopleSearch"
        }
      }
    },
    "/method/channels.getOwnersForCreate": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/channels.getOwnersForCreate",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 82%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "all_owner_ids": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "activity": {
                                "type": "string"
                              },
                              "admin_level": {
                                "type": "number"
                              },
                              "age_limits": {
                                "type": "number"
                              },
                              "can_manage": {
                                "type": "boolean"
                              },
                              "can_message": {
                                "type": "number"
                              },
                              "can_post_donut": {
                                "type": "number"
                              },
                              "city": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                }
                              },
                              "contacts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "contact_id": {
                                      "type": "number"
                                    },
                                    "user_id": {
                                      "type": "number"
                                    }
                                  }
                                }
                              },
                              "description": {
                                "type": "string"
                              },
                              "has_photo": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "is_admin": {
                                "type": "number"
                              },
                              "is_advertiser": {
                                "type": "number"
                              },
                              "is_closed": {
                                "type": "number"
                              },
                              "is_member": {
                                "type": "number"
                              },
                              "is_messages_blocked": {
                                "type": "number"
                              },
                              "member_status": {
                                "type": "number"
                              },
                              "members_count": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "photo_100": {
                                "type": "string"
                              },
                              "photo_200": {
                                "type": "string"
                              },
                              "photo_50": {
                                "type": "string"
                              },
                              "photo_base": {
                                "type": "string"
                              },
                              "reposts_disabled": {
                                "type": "boolean"
                              },
                              "screen_name": {
                                "type": "string"
                              },
                              "site": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "unread_count": {
                                "type": "number"
                              },
                              "verified": {
                                "type": "number"
                              },
                              "wall": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "owner_ids": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        },
                        "profiles": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "activity": {
                                "type": "string"
                              },
                              "bdate": {
                                "type": "string"
                              },
                              "blacklisted": {
                                "type": "number"
                              },
                              "blacklisted_by_me": {
                                "type": "number"
                              },
                              "can_access_closed": {
                                "type": "boolean"
                              },
                              "can_call": {
                                "type": "boolean"
                              },
                              "can_invite_to_chats": {
                                "type": "boolean"
                              },
                              "can_send_friend_request": {
                                "type": "number"
                              },
                              "can_write_private_message": {
                                "type": "number"
                              },
                              "city": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                }
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "first_name_acc": {
                                "type": "string"
                              },
                              "first_name_dat": {
                                "type": "string"
                              },
                              "first_name_gen": {
                                "type": "string"
                              },
                              "first_name_ins": {
                                "type": "string"
                              },
                              "followers_count": {
                                "type": "number"
                              },
                              "friend_status": {
                                "type": "number"
                              },
                              "has_photo": {
                                "type": "number"
                              },
                              "home_phone": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "is_closed": {
                                "type": "boolean"
                              },
                              "is_followers_mode_on": {
                                "type": "boolean"
                              },
                              "is_service_account": {
                                "type": "boolean"
                              },
                              "language": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "last_name_acc": {
                                "type": "string"
                              },
                              "last_name_gen": {
                                "type": "string"
                              },
                              "last_name_ins": {
                                "type": "string"
                              },
                              "mobile_phone": {
                                "type": "string"
                              },
                              "occupation": {
                                "type": "object",
                                "properties": {
                                  "city_id": {
                                    "type": "number"
                                  },
                                  "country_id": {
                                    "type": "number"
                                  },
                                  "graduate_year": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "online_info": {
                                "type": "object",
                                "properties": {
                                  "is_mobile": {
                                    "type": "boolean"
                                  },
                                  "is_online": {
                                    "type": "boolean"
                                  },
                                  "last_seen": {
                                    "type": "number"
                                  },
                                  "visible": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "photo_100": {
                                "type": "string"
                              },
                              "photo_200": {
                                "type": "string"
                              },
                              "photo_50": {
                                "type": "string"
                              },
                              "photo_base": {
                                "type": "string"
                              },
                              "photo_id": {
                                "type": "string"
                              },
                              "screen_name": {
                                "type": "string"
                              },
                              "sex": {
                                "type": "number"
                              },
                              "site": {
                                "type": "string"
                              },
                              "verified": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "all_owner_ids": [
                      1
                    ],
                    "groups": [
                      {
                        "activity": "string",
                        "admin_level": 1,
                        "age_limits": 1,
                        "can_manage": true,
                        "can_message": 1,
                        "can_post_donut": 1,
                        "city": {
                          "id": 1,
                          "title": "string"
                        },
                        "contacts": [
                          {
                            "contact_id": 1,
                            "user_id": 1
                          }
                        ],
                        "description": "string",
                        "has_photo": 1,
                        "id": 1,
                        "is_admin": 1,
                        "is_advertiser": 1,
                        "is_closed": 1,
                        "is_member": 1,
                        "is_messages_blocked": 1,
                        "member_status": 1,
                        "members_count": 1,
                        "name": "string",
                        "photo_100": "string"
                      }
                    ],
                    "owner_ids": [
                      1
                    ],
                    "profiles": [
                      {
                        "activity": "string",
                        "bdate": "str...[masked]",
                        "blacklisted": 1,
                        "blacklisted_by_me": 1,
                        "can_access_closed": true,
                        "can_call": true,
                        "can_invite_to_chats": true,
                        "can_send_friend_request": 1,
                        "can_write_private_message": 1,
                        "city": {
                          "id": 1,
                          "title": "string"
                        },
                        "first_name": "string",
                        "first_name_acc": "string",
                        "first_name_dat": "string",
                        "first_name_gen": "string",
                        "first_name_ins": "string",
                        "followers_count": 1,
                        "friend_status": 1,
                        "has_photo": 1,
                        "home_phone": "str...[masked]",
                        "id": 1
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.82,
          "server_kind": "api",
          "category": "chat",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/channels.getOwnersForCreate"
        }
      }
    },
    "/method/execute": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/execute",
        "description": "Inferred from passive capture. Auth hint: auth likely. Confidence: 98%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer {{access_token}}"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tabs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": [
                    {
                      "tabs": [
                        "string"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.98,
          "server_kind": "api",
          "category": "chat",
          "auth_hint": "auth likely",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/execute"
        }
      }
    },
    "/method/friends.get": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/friends.get",
        "description": "Inferred from passive capture. Auth hint: cookie/session. Confidence: 98%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer {{access_token}}"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "count": 1,
                    "items": [
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.98,
          "server_kind": "api",
          "category": "chat",
          "auth_hint": "cookie/session",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/friends.get"
        }
      }
    },
    "/method/friends.getRecommendations": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/friends.getRecommendations",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 87%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "can_access_closed": {
                                "type": "boolean"
                              },
                              "can_send_friend_request": {
                                "type": "number"
                              },
                              "can_write_private_message": {
                                "type": "number"
                              },
                              "common_count": {
                                "type": "number"
                              },
                              "crop_photo": {
                                "type": "object",
                                "properties": {
                                  "crop": {
                                    "type": "object",
                                    "properties": {
                                      "x": {
                                        "type": "number"
                                      },
                                      "x2": {
                                        "type": "number"
                                      },
                                      "y": {
                                        "type": "number"
                                      },
                                      "y2": {
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "photo": {
                                    "type": "object",
                                    "properties": {
                                      "album_id": {
                                        "type": "number"
                                      },
                                      "date": {
                                        "type": "number"
                                      },
                                      "has_tags": {
                                        "type": "boolean"
                                      },
                                      "id": {
                                        "type": "number"
                                      },
                                      "owner_id": {
                                        "type": "number"
                                      },
                                      "post_id": {
                                        "type": "number"
                                      },
                                      "sizes": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "height": {
                                              "type": "number"
                                            },
                                            "type": {
                                              "type": "string"
                                            },
                                            "url": {
                                              "type": "string"
                                            },
                                            "width": {
                                              "type": "number"
                                            }
                                          }
                                        }
                                      },
                                      "square_crop": {
                                        "type": "string"
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "rect": {
                                    "type": "object",
                                    "properties": {
                                      "x": {
                                        "type": "number"
                                      },
                                      "x2": {
                                        "type": "number"
                                      },
                                      "y": {
                                        "type": "number"
                                      },
                                      "y2": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                }
                              },
                              "descriptions": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "friend_status": {
                                "type": "number"
                              },
                              "friends_generation_id": {
                                "type": "number"
                              },
                              "friends_recommendation_source": {
                                "type": "number"
                              },
                              "has_unseen_stories": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "is_closed": {
                                "type": "boolean"
                              },
                              "is_nft": {
                                "type": "boolean"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "photo_100": {
                                "type": "string"
                              },
                              "photo_200": {
                                "type": "string"
                              },
                              "photo_400": {
                                "type": "string"
                              },
                              "photo_400_orig": {
                                "type": "string"
                              },
                              "screen_name": {
                                "type": "string"
                              },
                              "sex": {
                                "type": "number"
                              },
                              "social_button_type": {
                                "type": "string"
                              },
                              "track_code": {
                                "type": "string"
                              },
                              "trending": {
                                "type": "number"
                              },
                              "verified": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "next_from": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "track_code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "count": 1,
                    "items": [
                      {
                        "can_access_closed": true,
                        "can_send_friend_request": 1,
                        "can_write_private_message": 1,
                        "common_count": 1,
                        "crop_photo": {
                          "crop": {
                            "x": 1,
                            "x2": 1,
                            "y": 1,
                            "y2": 1
                          },
                          "photo": {
                            "album_id": 1,
                            "date": 1,
                            "has_tags": true,
                            "id": 1,
                            "owner_id": 1,
                            "post_id": 1,
                            "sizes": [
                              {
                                "height": 1,
                                "type": "string",
                                "url": "string",
                                "width": 1
                              }
                            ],
                            "square_crop": "string",
                            "text": "string"
                          },
                          "rect": {
                            "x": 1,
                            "x2": 1,
                            "y": 1,
                            "y2": 1
                          }
                        },
                        "descriptions": [
                          "string"
                        ],
                        "first_name": "string",
                        "friend_status": 1,
                        "friends_generation_id": 1,
                        "friends_recommendation_source": 1,
                        "has_unseen_stories": true,
                        "id": 1,
                        "is_closed": true,
                        "is_nft": true,
                        "last_name": "string",
                        "photo_100": "string",
                        "photo_200": "string",
                        "photo_400": "string",
                        "photo_400_orig": "string",
                        "screen_name": "string"
                      }
                    ],
                    "next_from": "string",
                    "title": "string",
                    "track_code": "string"
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.87,
          "server_kind": "api",
          "category": "chat",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/friends.getRecommendations"
        }
      }
    },
    "/method/friends.getRequests": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/friends.getRequests",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 91%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "count_unread": {
                          "type": "number"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "can_access_closed": {
                                "type": "boolean"
                              },
                              "can_call": {
                                "type": "boolean"
                              },
                              "can_write_private_message": {
                                "type": "number"
                              },
                              "city": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                }
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "first_name_acc": {
                                "type": "string"
                              },
                              "first_name_gen": {
                                "type": "string"
                              },
                              "has_unseen_stories": {
                                "type": "boolean"
                              },
                              "is_closed": {
                                "type": "boolean"
                              },
                              "is_esia_verified": {
                                "type": "boolean"
                              },
                              "is_nft": {
                                "type": "boolean"
                              },
                              "is_sber_verified": {
                                "type": "boolean"
                              },
                              "is_tinkoff_verified": {
                                "type": "boolean"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "mutual": {
                                "type": "object",
                                "properties": {
                                  "count": {
                                    "type": "number"
                                  },
                                  "users": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "online": {
                                "type": "number"
                              },
                              "photo_100": {
                                "type": "string"
                              },
                              "photo_200": {
                                "type": "string"
                              },
                              "photo_base": {
                                "type": "string"
                              },
                              "social_button_type": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "number"
                              },
                              "track_code": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "number"
                              },
                              "verified": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "last_viewed": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "count": 1,
                    "count_unread": 1,
                    "items": [
                      {
                        "can_access_closed": true,
                        "can_call": true,
                        "can_write_private_message": 1,
                        "city": {
                          "id": 1,
                          "title": "string"
                        },
                        "first_name": "string",
                        "first_name_acc": "string",
                        "first_name_gen": "string",
                        "has_unseen_stories": true,
                        "is_closed": true,
                        "is_esia_verified": true,
                        "is_nft": true,
                        "is_sber_verified": true,
                        "is_tinkoff_verified": true,
                        "last_name": "string",
                        "mutual": {
                          "count": 1,
                          "users": [
                            "unknown"
                          ]
                        },
                        "online": 1,
                        "photo_100": "string",
                        "photo_200": "string",
                        "photo_base": "string",
                        "social_button_type": "string"
                      }
                    ],
                    "last_viewed": 1
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.91,
          "server_kind": "api",
          "category": "chat",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/friends.getRequests"
        }
      }
    },
    "/method/messages.getConversations": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/messages.getConversations",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 82%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "activity": {
                                "type": "string"
                              },
                              "age_limits": {
                                "type": "number"
                              },
                              "can_manage": {
                                "type": "boolean"
                              },
                              "can_message": {
                                "type": "number"
                              },
                              "city": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                }
                              },
                              "contacts": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "description": {
                                "type": "string"
                              },
                              "has_photo": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "is_admin": {
                                "type": "number"
                              },
                              "is_advertiser": {
                                "type": "number"
                              },
                              "is_closed": {
                                "type": "number"
                              },
                              "is_member": {
                                "type": "number"
                              },
                              "is_messages_blocked": {
                                "type": "number"
                              },
                              "member_status": {
                                "type": "number"
                              },
                              "members_count": {
                                "type": "number"
                              },
                              "menu": {
                                "type": "object",
                                "properties": {
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "cover": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "height": {
                                                "type": "number"
                                              },
                                              "url": {
                                                "type": "string"
                                              },
                                              "width": {
                                                "type": "number"
                                              }
                                            }
                                          }
                                        },
                                        "id": {
                                          "type": "number"
                                        },
                                        "title": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "photo_100": {
                                "type": "string"
                              },
                              "photo_200": {
                                "type": "string"
                              },
                              "photo_50": {
                                "type": "string"
                              },
                              "photo_base": {
                                "type": "string"
                              },
                              "reposts_disabled": {
                                "type": "boolean"
                              },
                              "screen_name": {
                                "type": "string"
                              },
                              "site": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "verified": {
                                "type": "number"
                              },
                              "wall": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "conversation": {
                                "type": "object",
                                "properties": {
                                  "can_receive_money": {
                                    "type": "boolean"
                                  },
                                  "can_send_money": {
                                    "type": "boolean"
                                  },
                                  "can_write": {
                                    "type": "object",
                                    "properties": {
                                      "allowed": {
                                        "type": "boolean"
                                      },
                                      "reason": {
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "important": {
                                    "type": "boolean"
                                  },
                                  "in_read": {
                                    "type": "number"
                                  },
                                  "in_read_cmid": {
                                    "type": "number"
                                  },
                                  "is_marked_unread": {
                                    "type": "boolean"
                                  },
                                  "last_conversation_message_id": {
                                    "type": "number"
                                  },
                                  "last_message_id": {
                                    "type": "number"
                                  },
                                  "out_read": {
                                    "type": "number"
                                  },
                                  "out_read_cmid": {
                                    "type": "number"
                                  },
                                  "peer": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number"
                                      },
                                      "local_id": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "peer_flags": {
                                    "type": "number"
                                  },
                                  "push_settings": {
                                    "type": "object",
                                    "properties": {
                                      "disabled_forever": {
                                        "type": "boolean"
                                      },
                                      "disabled_mass_mentions": {
                                        "type": "boolean"
                                      },
                                      "disabled_mentions": {
                                        "type": "boolean"
                                      },
                                      "no_sound": {
                                        "type": "boolean"
                                      }
                                    }
                                  },
                                  "sort_id": {
                                    "type": "object",
                                    "properties": {
                                      "major_id": {
                                        "type": "number"
                                      },
                                      "minor_id": {
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "timestamp": {
                                    "type": "number"
                                  },
                                  "version": {
                                    "type": "number"
                                  }
                                }
                              },
                              "last_message": {
                                "type": "object",
                                "properties": {
                                  "attachments": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "conversation_message_id": {
                                    "type": "number"
                                  },
                                  "date": {
                                    "type": "number"
                                  },
                                  "from_id": {
                                    "type": "number"
                                  },
                                  "fwd_messages": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "important": {
                                    "type": "boolean"
                                  },
                                  "is_hidden": {
                                    "type": "boolean"
                                  },
                                  "is_mentioned_user": {
                                    "type": "boolean"
                                  },
                                  "out": {
                                    "type": "number"
                                  },
                                  "peer_id": {
                                    "type": "number"
                                  },
                                  "random_id": {
                                    "type": "number"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "version": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "profiles": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "activity": {
                                "type": "string"
                              },
                              "bdate": {
                                "type": "string"
                              },
                              "blacklisted": {
                                "type": "number"
                              },
                              "blacklisted_by_me": {
                                "type": "number"
                              },
                              "can_access_closed": {
                                "type": "boolean"
                              },
                              "can_call": {
                                "type": "boolean"
                              },
                              "can_invite_to_chats": {
                                "type": "boolean"
                              },
                              "can_send_friend_request": {
                                "type": "number"
                              },
                              "can_write_private_message": {
                                "type": "number"
                              },
                              "city": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                }
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "first_name_acc": {
                                "type": "string"
                              },
                              "first_name_dat": {
                                "type": "string"
                              },
                              "first_name_gen": {
                                "type": "string"
                              },
                              "first_name_ins": {
                                "type": "string"
                              },
                              "followers_count": {
                                "type": "number"
                              },
                              "friend_status": {
                                "type": "number"
                              },
                              "has_photo": {
                                "type": "number"
                              },
                              "home_phone": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "image_status": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "images": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "height": {
                                          "type": "number"
                                        },
                                        "url": {
                                          "type": "string"
                                        },
                                        "width": {
                                          "type": "number"
                                        }
                                      }
                                    }
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "tags": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "is_closed": {
                                "type": "boolean"
                              },
                              "is_followers_mode_on": {
                                "type": "boolean"
                              },
                              "is_service_account": {
                                "type": "boolean"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "last_name_acc": {
                                "type": "string"
                              },
                              "last_name_gen": {
                                "type": "string"
                              },
                              "last_name_ins": {
                                "type": "string"
                              },
                              "mobile_phone": {
                                "type": "string"
                              },
                              "occupation": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "online_info": {
                                "type": "object",
                                "properties": {
                                  "app_id": {
                                    "type": "number"
                                  },
                                  "is_mobile": {
                                    "type": "boolean"
                                  },
                                  "is_online": {
                                    "type": "boolean"
                                  },
                                  "last_seen": {
                                    "type": "number"
                                  },
                                  "visible": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "photo_100": {
                                "type": "string"
                              },
                              "photo_200": {
                                "type": "string"
                              },
                              "photo_50": {
                                "type": "string"
                              },
                              "photo_base": {
                                "type": "string"
                              },
                              "photo_id": {
                                "type": "string"
                              },
                              "screen_name": {
                                "type": "string"
                              },
                              "sex": {
                                "type": "number"
                              },
                              "site": {
                                "type": "string"
                              },
                              "verified": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "count": 1,
                    "groups": [
                      {
                        "activity": "string",
                        "age_limits": 1,
                        "can_manage": true,
                        "can_message": 1,
                        "city": {
                          "id": 1,
                          "title": "string"
                        },
                        "contacts": [
                          "unknown"
                        ],
                        "description": "string",
                        "has_photo": 1,
                        "id": 1,
                        "is_admin": 1,
                        "is_advertiser": 1,
                        "is_closed": 1,
                        "is_member": 1,
                        "is_messages_blocked": 1,
                        "member_status": 1,
                        "members_count": 1,
                        "menu": {
                          "items": [
                            {
                              "cover": [
                                {
                                  "height": 1,
                                  "url": "string",
                                  "width": 1
                                }
                              ],
                              "id": 1,
                              "title": "string",
                              "type": "string",
                              "url": "string"
                            }
                          ]
                        },
                        "name": "string",
                        "photo_100": "string",
                        "photo_200": "string"
                      }
                    ],
                    "items": [
                      {
                        "conversation": {
                          "can_receive_money": true,
                          "can_send_money": true,
                          "can_write": {
                            "allowed": true,
                            "reason": 1
                          },
                          "important": true,
                          "in_read": 1,
                          "in_read_cmid": 1,
                          "is_marked_unread": true,
                          "last_conversation_message_id": 1,
                          "last_message_id": 1,
                          "out_read": 1,
                          "out_read_cmid": 1,
                          "peer": {
                            "id": 1,
                            "local_id": 1,
                            "type": "string"
                          },
                          "peer_flags": 1,
                          "push_settings": {
                            "disabled_forever": true,
                            "disabled_mass_mentions": true,
                            "disabled_mentions": true,
                            "no_sound": true
                          },
                          "sort_id": {
                            "major_id": 1,
                            "minor_id": 1
                          },
                          "timestamp": 1,
                          "version": 1
                        },
                        "last_message": {
                          "attachments": [
                            "unknown"
                          ],
                          "conversation_message_id": 1,
                          "date": 1,
                          "from_id": 1,
                          "fwd_messages": [
                            "unknown"
                          ],
                          "id": 1,
                          "important": true,
                          "is_hidden": true,
                          "is_mentioned_user": true,
                          "out": 1,
                          "peer_id": 1,
                          "random_id": 1,
                          "text": "string",
                          "version": 1
                        }
                      }
                    ],
                    "profiles": [
                      {
                        "activity": "string",
                        "bdate": "str...[masked]",
                        "blacklisted": 1,
                        "blacklisted_by_me": 1,
                        "can_access_closed": true,
                        "can_call": true,
                        "can_invite_to_chats": true,
                        "can_send_friend_request": 1,
                        "can_write_private_message": 1,
                        "city": {
                          "id": 1,
                          "title": "string"
                        },
                        "first_name": "string",
                        "first_name_acc": "string",
                        "first_name_dat": "string",
                        "first_name_gen": "string",
                        "first_name_ins": "string",
                        "followers_count": 1,
                        "friend_status": 1,
                        "has_photo": 1,
                        "home_phone": "str...[masked]",
                        "id": 1
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.82,
          "server_kind": "api",
          "category": "chat",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/messages.getConversations"
        }
      }
    },
    "/method/messages.getRecentStickers": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/messages.getRecentStickers",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 83%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "images": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  }
                                }
                              },
                              "images_with_background": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  }
                                }
                              },
                              "inner_type": {
                                "type": "string"
                              },
                              "is_allowed": {
                                "type": "boolean"
                              },
                              "sticker_id": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "count": 1,
                    "items": [
                      {
                        "images": [
                          {
                            "height": 1,
                            "url": "string",
                            "width": 1
                          }
                        ],
                        "images_with_background": [
                          {
                            "height": 1,
                            "url": "string",
                            "width": 1
                          }
                        ],
                        "inner_type": "string",
                        "is_allowed": true,
                        "sticker_id": 1
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.83,
          "server_kind": "api",
          "category": "chat",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/messages.getRecentStickers"
        }
      }
    },
    "/method/account.getLeftAds": {
      "post": {
        "tags": [
          "Config",
          "Api"
        ],
        "summary": "POST /method/account.getLeftAds",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 98%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "ads_can_show": {
                          "type": "boolean"
                        },
                        "ads_html": {
                          "type": "string"
                        },
                        "ads_section": {
                          "type": "string"
                        },
                        "ads_showed": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "ads_can_show": true,
                    "ads_html": "string",
                    "ads_section": "string",
                    "ads_showed": "string"
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.98,
          "server_kind": "api",
          "category": "config",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/account.getLeftAds"
        }
      }
    },
    "/method/store.hasNewItems": {
      "post": {
        "tags": [
          "Config",
          "Api"
        ],
        "summary": "POST /method/store.hasNewItems",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 83%.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "favorite_stickers_limit": {
                          "type": "number"
                        },
                        "favorite_stickers_version_hash": {
                          "type": "string"
                        },
                        "global_promotion": {
                          "type": "number"
                        },
                        "image_configs_version_hash": {
                          "type": "string"
                        },
                        "sticker_packs_chunk_size_limit": {
                          "type": "number"
                        },
                        "stickers_version_hash": {
                          "type": "string"
                        },
                        "store_new_items": {
                          "type": "number"
                        },
                        "suggestions_version_hash": {
                          "type": "string"
                        },
                        "version": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "favorite_stickers_limit": 1,
                    "favorite_stickers_version_hash": "string",
                    "global_promotion": 1,
                    "image_configs_version_hash": "string",
                    "sticker_packs_chunk_size_limit": 1,
                    "stickers_version_hash": "string",
                    "store_new_items": 1,
                    "suggestions_version_hash": "string",
                    "version": 1
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.83,
          "server_kind": "api",
          "category": "config",
          "auth_hint": "none observed",
          "observed_status_codes": [
            200
          ],
          "inferred_schema": true,
          "draft": true,
          "source_url": "/method/store.hasNewItems"
        }
      }
    },
    "/wkview.php": {
      "post": {
        "tags": [
          "Config",
          "Api"
        ],
        "summary": "POST /wkview.php",
        "description": "Inferred from passive capture. Auth hint: none observed. Confidence: 98%.",
        "parameters": [
          {
            "name": "act",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extra",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stat",
            "in": "query",
            "required": false,
            "schema": {
[...]
