{
  "swagger": "2.0",
  "info": {
    "title": "SiteReconstructor Api API",
    "version": "0.1.0",
    "description": "Swagger 2.0 compatibility export generated from authorized passive capture evidence."
  },
  "host": "vk.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "securityDefinitions": {
    "bearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "paths": {
    "/method/catalog.getPeopleSearch": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/catalog.getPeopleSearch",
        "description": "Swagger 2.0 compatibility draft. Auth hint: auth likely. Confidence: 82%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "albums": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "catalog": {
                      "type": "object",
                      "properties": {
                        "default_section": {
                          "type": "string"
                        },
                        "sections": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "blocks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "data_type": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "layout": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "title": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "next_from": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "catalog_users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "common_friends": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "common_friends_count": {
                            "type": "number"
                          },
                          "common_friends_description": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              }
                            }
                          },
                          "descriptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "item_id": {
                            "type": "string"
                          },
                          "track_code": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "profiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activity": {
                            "type": "string"
                          },
                          "can_access_closed": {
                            "type": "boolean"
                          },
                          "can_call": {
                            "type": "boolean"
                          },
                          "can_write_private_message": {
                            "type": "number"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "friend_status": {
                            "type": "number"
                          },
                          "has_unseen_stories": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_closed": {
                            "type": "boolean"
                          },
                          "is_esia_verified": {
                            "type": "boolean"
                          },
                          "is_nft": {
                            "type": "boolean"
                          },
                          "is_sber_verified": {
                            "type": "boolean"
                          },
                          "is_tinkoff_linked": {
                            "type": "boolean"
                          },
                          "is_tinkoff_verified": {
                            "type": "boolean"
                          },
                          "is_verified": {
                            "type": "boolean"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "oauth_verification": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "online_info": {
                            "type": "object",
                            "properties": {
                              "app_id": {
                                "type": "number"
                              },
                              "is_mobile": {
                                "type": "boolean"
                              },
                              "is_online": {
                                "type": "boolean"
                              },
                              "last_seen": {
                                "type": "number"
                              },
                              "visible": {
                                "type": "boolean"
                              }
                            }
                          },
                          "photo_100": {
                            "type": "string"
                          },
                          "photo_200": {
                            "type": "string"
                          },
                          "photo_50": {
                            "type": "string"
                          },
                          "photo_base": {
                            "type": "string"
                          },
                          "screen_name": {
                            "type": "string"
                          },
                          "sex": {
                            "type": "number"
                          },
                          "social_button_type": {
                            "type": "string"
                          },
                          "trending": {
                            "type": "number"
                          },
                          "verified": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.82,
          "server_kind": "api",
          "category": "chat",
          "source_url": "/method/catalog.getPeopleSearch",
          "draft": true
        }
      }
    },
    "/method/channels.getOwnersForCreate": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/channels.getOwnersForCreate",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 82%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "all_owner_ids": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activity": {
                            "type": "string"
                          },
                          "admin_level": {
                            "type": "number"
                          },
                          "age_limits": {
                            "type": "number"
                          },
                          "can_manage": {
                            "type": "boolean"
                          },
                          "can_message": {
                            "type": "number"
                          },
                          "can_post_donut": {
                            "type": "number"
                          },
                          "city": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "contact_id": {
                                  "type": "number"
                                },
                                "user_id": {
                                  "type": "number"
                                }
                              }
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "has_photo": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_admin": {
                            "type": "number"
                          },
                          "is_advertiser": {
                            "type": "number"
                          },
                          "is_closed": {
                            "type": "number"
                          },
                          "is_member": {
                            "type": "number"
                          },
                          "is_messages_blocked": {
                            "type": "number"
                          },
                          "member_status": {
                            "type": "number"
                          },
                          "members_count": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "photo_100": {
                            "type": "string"
                          },
                          "photo_200": {
                            "type": "string"
                          },
                          "photo_50": {
                            "type": "string"
                          },
                          "photo_base": {
                            "type": "string"
                          },
                          "reposts_disabled": {
                            "type": "boolean"
                          },
                          "screen_name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "unread_count": {
                            "type": "number"
                          },
                          "verified": {
                            "type": "number"
                          },
                          "wall": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "owner_ids": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "profiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activity": {
                            "type": "string"
                          },
                          "bdate": {
                            "type": "string"
                          },
                          "blacklisted": {
                            "type": "number"
                          },
                          "blacklisted_by_me": {
                            "type": "number"
                          },
                          "can_access_closed": {
                            "type": "boolean"
                          },
                          "can_call": {
                            "type": "boolean"
                          },
                          "can_invite_to_chats": {
                            "type": "boolean"
                          },
                          "can_send_friend_request": {
                            "type": "number"
                          },
                          "can_write_private_message": {
                            "type": "number"
                          },
                          "city": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "first_name_acc": {
                            "type": "string"
                          },
                          "first_name_dat": {
                            "type": "string"
                          },
                          "first_name_gen": {
                            "type": "string"
                          },
                          "first_name_ins": {
                            "type": "string"
                          },
                          "followers_count": {
                            "type": "number"
                          },
                          "friend_status": {
                            "type": "number"
                          },
                          "has_photo": {
                            "type": "number"
                          },
                          "home_phone": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_closed": {
                            "type": "boolean"
                          },
                          "is_followers_mode_on": {
                            "type": "boolean"
                          },
                          "is_service_account": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "last_name_acc": {
                            "type": "string"
                          },
                          "last_name_gen": {
                            "type": "string"
                          },
                          "last_name_ins": {
                            "type": "string"
                          },
                          "mobile_phone": {
                            "type": "string"
                          },
                          "occupation": {
                            "type": "object",
                            "properties": {
                              "city_id": {
                                "type": "number"
                              },
                              "country_id": {
                                "type": "number"
                              },
                              "graduate_year": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "online_info": {
                            "type": "object",
                            "properties": {
                              "is_mobile": {
                                "type": "boolean"
                              },
                              "is_online": {
                                "type": "boolean"
                              },
                              "last_seen": {
                                "type": "number"
                              },
                              "visible": {
                                "type": "boolean"
                              }
                            }
                          },
                          "photo_100": {
                            "type": "string"
                          },
                          "photo_200": {
                            "type": "string"
                          },
                          "photo_50": {
                            "type": "string"
                          },
                          "photo_base": {
                            "type": "string"
                          },
                          "photo_id": {
                            "type": "string"
                          },
                          "screen_name": {
                            "type": "string"
                          },
                          "sex": {
                            "type": "number"
                          },
                          "site": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.82,
          "server_kind": "api",
          "category": "chat",
          "source_url": "/method/channels.getOwnersForCreate",
          "draft": true
        }
      }
    },
    "/method/execute": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/execute",
        "description": "Swagger 2.0 compatibility draft. Auth hint: auth likely. Confidence: 98%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tabs": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.98,
          "server_kind": "api",
          "category": "chat",
          "source_url": "/method/execute",
          "draft": true
        }
      }
    },
    "/method/friends.get": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/friends.get",
        "description": "Swagger 2.0 compatibility draft. Auth hint: cookie/session. Confidence: 98%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.98,
          "server_kind": "api",
          "category": "chat",
          "source_url": "/method/friends.get",
          "draft": true
        }
      }
    },
    "/method/friends.getRecommendations": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/friends.getRecommendations",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 87%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "can_access_closed": {
                            "type": "boolean"
                          },
                          "can_send_friend_request": {
                            "type": "number"
                          },
                          "can_write_private_message": {
                            "type": "number"
                          },
                          "common_count": {
                            "type": "number"
                          },
                          "crop_photo": {
                            "type": "object",
                            "properties": {
                              "crop": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "number"
                                  },
                                  "x2": {
                                    "type": "number"
                                  },
                                  "y": {
                                    "type": "number"
                                  },
                                  "y2": {
                                    "type": "number"
                                  }
                                }
                              },
                              "photo": {
                                "type": "object",
                                "properties": {
                                  "album_id": {
                                    "type": "number"
                                  },
                                  "date": {
                                    "type": "number"
                                  },
                                  "has_tags": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "owner_id": {
                                    "type": "number"
                                  },
                                  "post_id": {
                                    "type": "number"
                                  },
                                  "sizes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "height": {
                                          "type": "number"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        },
                                        "width": {
                                          "type": "number"
                                        }
                                      }
                                    }
                                  },
                                  "square_crop": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                }
                              },
                              "rect": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "number"
                                  },
                                  "x2": {
                                    "type": "number"
                                  },
                                  "y": {
                                    "type": "number"
                                  },
                                  "y2": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          },
                          "descriptions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "friend_status": {
                            "type": "number"
                          },
                          "friends_generation_id": {
                            "type": "number"
                          },
                          "friends_recommendation_source": {
                            "type": "number"
                          },
                          "has_unseen_stories": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_closed": {
                            "type": "boolean"
                          },
                          "is_nft": {
                            "type": "boolean"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "photo_100": {
                            "type": "string"
                          },
                          "photo_200": {
                            "type": "string"
                          },
                          "photo_400": {
                            "type": "string"
                          },
                          "photo_400_orig": {
                            "type": "string"
                          },
                          "screen_name": {
                            "type": "string"
                          },
                          "sex": {
                            "type": "number"
                          },
                          "social_button_type": {
                            "type": "string"
                          },
                          "track_code": {
                            "type": "string"
                          },
                          "trending": {
                            "type": "number"
                          },
                          "verified": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "next_from": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "track_code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.87,
          "server_kind": "api",
          "category": "chat",
          "source_url": "/method/friends.getRecommendations",
          "draft": true
        }
      }
    },
    "/method/friends.getRequests": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/friends.getRequests",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 91%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "count_unread": {
                      "type": "number"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "can_access_closed": {
                            "type": "boolean"
                          },
                          "can_call": {
                            "type": "boolean"
                          },
                          "can_write_private_message": {
                            "type": "number"
                          },
                          "city": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "first_name_acc": {
                            "type": "string"
                          },
                          "first_name_gen": {
                            "type": "string"
                          },
                          "has_unseen_stories": {
                            "type": "boolean"
                          },
                          "is_closed": {
                            "type": "boolean"
                          },
                          "is_esia_verified": {
                            "type": "boolean"
                          },
                          "is_nft": {
                            "type": "boolean"
                          },
                          "is_sber_verified": {
                            "type": "boolean"
                          },
                          "is_tinkoff_verified": {
                            "type": "boolean"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "mutual": {
                            "type": "object",
                            "properties": {
                              "count": {
                                "type": "number"
                              },
                              "users": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "online": {
                            "type": "number"
                          },
                          "photo_100": {
                            "type": "string"
                          },
                          "photo_200": {
                            "type": "string"
                          },
                          "photo_base": {
                            "type": "string"
                          },
                          "social_button_type": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "track_code": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "number"
                          },
                          "verified": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "last_viewed": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.91,
          "server_kind": "api",
          "category": "chat",
          "source_url": "/method/friends.getRequests",
          "draft": true
        }
      }
    },
    "/method/messages.getConversations": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/messages.getConversations",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 82%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activity": {
                            "type": "string"
                          },
                          "age_limits": {
                            "type": "number"
                          },
                          "can_manage": {
                            "type": "boolean"
                          },
                          "can_message": {
                            "type": "number"
                          },
                          "city": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "has_photo": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_admin": {
                            "type": "number"
                          },
                          "is_advertiser": {
                            "type": "number"
                          },
                          "is_closed": {
                            "type": "number"
                          },
                          "is_member": {
                            "type": "number"
                          },
                          "is_messages_blocked": {
                            "type": "number"
                          },
                          "member_status": {
                            "type": "number"
                          },
                          "members_count": {
                            "type": "number"
                          },
                          "menu": {
                            "type": "object",
                            "properties": {
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "cover": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "height": {
                                            "type": "number"
                                          },
                                          "url": {
                                            "type": "string"
                                          },
                                          "width": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "photo_100": {
                            "type": "string"
                          },
                          "photo_200": {
                            "type": "string"
                          },
                          "photo_50": {
                            "type": "string"
                          },
                          "photo_base": {
                            "type": "string"
                          },
                          "reposts_disabled": {
                            "type": "boolean"
                          },
                          "screen_name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "number"
                          },
                          "wall": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversation": {
                            "type": "object",
                            "properties": {
                              "can_receive_money": {
                                "type": "boolean"
                              },
                              "can_send_money": {
                                "type": "boolean"
                              },
                              "can_write": {
                                "type": "object",
                                "properties": {
                                  "allowed": {
                                    "type": "boolean"
                                  },
                                  "reason": {
                                    "type": "number"
                                  }
                                }
                              },
                              "important": {
                                "type": "boolean"
                              },
                              "in_read": {
                                "type": "number"
                              },
                              "in_read_cmid": {
                                "type": "number"
                              },
                              "is_marked_unread": {
                                "type": "boolean"
                              },
                              "last_conversation_message_id": {
                                "type": "number"
                              },
                              "last_message_id": {
                                "type": "number"
                              },
                              "out_read": {
                                "type": "number"
                              },
                              "out_read_cmid": {
                                "type": "number"
                              },
                              "peer": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "local_id": {
                                    "type": "number"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "peer_flags": {
                                "type": "number"
                              },
                              "push_settings": {
                                "type": "object",
                                "properties": {
                                  "disabled_forever": {
                                    "type": "boolean"
                                  },
                                  "disabled_mass_mentions": {
                                    "type": "boolean"
                                  },
                                  "disabled_mentions": {
                                    "type": "boolean"
                                  },
                                  "no_sound": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "sort_id": {
                                "type": "object",
                                "properties": {
                                  "major_id": {
                                    "type": "number"
                                  },
                                  "minor_id": {
                                    "type": "number"
                                  }
                                }
                              },
                              "timestamp": {
                                "type": "number"
                              },
                              "version": {
                                "type": "number"
                              }
                            }
                          },
                          "last_message": {
                            "type": "object",
                            "properties": {
                              "attachments": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "conversation_message_id": {
                                "type": "number"
                              },
                              "date": {
                                "type": "number"
                              },
                              "from_id": {
                                "type": "number"
                              },
                              "fwd_messages": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "id": {
                                "type": "number"
                              },
                              "important": {
                                "type": "boolean"
                              },
                              "is_hidden": {
                                "type": "boolean"
                              },
                              "is_mentioned_user": {
                                "type": "boolean"
                              },
                              "out": {
                                "type": "number"
                              },
                              "peer_id": {
                                "type": "number"
                              },
                              "random_id": {
                                "type": "number"
                              },
                              "text": {
                                "type": "string"
                              },
                              "version": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "profiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activity": {
                            "type": "string"
                          },
                          "bdate": {
                            "type": "string"
                          },
                          "blacklisted": {
                            "type": "number"
                          },
                          "blacklisted_by_me": {
                            "type": "number"
                          },
                          "can_access_closed": {
                            "type": "boolean"
                          },
                          "can_call": {
                            "type": "boolean"
                          },
                          "can_invite_to_chats": {
                            "type": "boolean"
                          },
                          "can_send_friend_request": {
                            "type": "number"
                          },
                          "can_write_private_message": {
                            "type": "number"
                          },
                          "city": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "first_name_acc": {
                            "type": "string"
                          },
                          "first_name_dat": {
                            "type": "string"
                          },
                          "first_name_gen": {
                            "type": "string"
                          },
                          "first_name_ins": {
                            "type": "string"
                          },
                          "followers_count": {
                            "type": "number"
                          },
                          "friend_status": {
                            "type": "number"
                          },
                          "has_photo": {
                            "type": "number"
                          },
                          "home_phone": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "image_status": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "images": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  }
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "is_closed": {
                            "type": "boolean"
                          },
                          "is_followers_mode_on": {
                            "type": "boolean"
                          },
                          "is_service_account": {
                            "type": "boolean"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "last_name_acc": {
                            "type": "string"
                          },
                          "last_name_gen": {
                            "type": "string"
                          },
                          "last_name_ins": {
                            "type": "string"
                          },
                          "mobile_phone": {
                            "type": "string"
                          },
                          "occupation": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "online_info": {
                            "type": "object",
                            "properties": {
                              "app_id": {
                                "type": "number"
                              },
                              "is_mobile": {
                                "type": "boolean"
                              },
                              "is_online": {
                                "type": "boolean"
                              },
                              "last_seen": {
                                "type": "number"
                              },
                              "visible": {
                                "type": "boolean"
                              }
                            }
                          },
                          "photo_100": {
                            "type": "string"
                          },
                          "photo_200": {
                            "type": "string"
                          },
                          "photo_50": {
                            "type": "string"
                          },
                          "photo_base": {
                            "type": "string"
                          },
                          "photo_id": {
                            "type": "string"
                          },
                          "screen_name": {
                            "type": "string"
                          },
                          "sex": {
                            "type": "number"
                          },
                          "site": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.82,
          "server_kind": "api",
          "category": "chat",
          "source_url": "/method/messages.getConversations",
          "draft": true
        }
      }
    },
    "/method/messages.getRecentStickers": {
      "post": {
        "tags": [
          "Chat",
          "Api"
        ],
        "summary": "POST /method/messages.getRecentStickers",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 83%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "height": {
                                  "type": "number"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "width": {
                                  "type": "number"
                                }
                              }
                            }
                          },
                          "images_with_background": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "height": {
                                  "type": "number"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "width": {
                                  "type": "number"
                                }
                              }
                            }
                          },
                          "inner_type": {
                            "type": "string"
                          },
                          "is_allowed": {
                            "type": "boolean"
                          },
                          "sticker_id": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.83,
          "server_kind": "api",
          "category": "chat",
          "source_url": "/method/messages.getRecentStickers",
          "draft": true
        }
      }
    },
    "/method/account.getLeftAds": {
      "post": {
        "tags": [
          "Config",
          "Api"
        ],
        "summary": "POST /method/account.getLeftAds",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 98%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "ads_can_show": {
                      "type": "boolean"
                    },
                    "ads_html": {
                      "type": "string"
                    },
                    "ads_section": {
                      "type": "string"
                    },
                    "ads_showed": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.98,
          "server_kind": "api",
          "category": "config",
          "source_url": "/method/account.getLeftAds",
          "draft": true
        }
      }
    },
    "/method/store.hasNewItems": {
      "post": {
        "tags": [
          "Config",
          "Api"
        ],
        "summary": "POST /method/store.hasNewItems",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 83%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "favorite_stickers_limit": {
                      "type": "number"
                    },
                    "favorite_stickers_version_hash": {
                      "type": "string"
                    },
                    "global_promotion": {
                      "type": "number"
                    },
                    "image_configs_version_hash": {
                      "type": "string"
                    },
                    "sticker_packs_chunk_size_limit": {
                      "type": "number"
                    },
                    "stickers_version_hash": {
                      "type": "string"
                    },
                    "store_new_items": {
                      "type": "number"
                    },
                    "suggestions_version_hash": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.83,
          "server_kind": "api",
          "category": "config",
          "source_url": "/method/store.hasNewItems",
          "draft": true
        }
      }
    },
    "/wkview.php": {
      "post": {
        "tags": [
          "Config",
          "Api"
        ],
        "summary": "POST /wkview.php",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 98%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "act",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "extra",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mt",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "stat",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "langVersion": {
                  "type": "string"
                },
                "loaderVersion": {
                  "type": "string"
                },
                "payload": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                },
                "statsMeta": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "id": {
                      "type": "number"
                    },
                    "platform": {
                      "type": "string"
                    },
                    "reloadVersion": {
                      "type": "number"
                    },
                    "st": {
                      "type": "boolean"
                    },
                    "time": {
                      "type": "number"
                    }
                  }
                },
                "vkEnv": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.98,
          "server_kind": "api",
          "category": "config",
          "source_url": "/wkview.php",
          "draft": true
        }
      }
    },
    "/method/wall.getCommentsForPosts": {
      "post": {
        "tags": [
          "Download",
          "Api"
        ],
        "summary": "POST /method/wall.getCommentsForPosts",
        "description": "Swagger 2.0 compatibility draft. Auth hint: auth likely. Confidence: 87%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "available_order": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "can_post": {
                            "type": "boolean"
                          },
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "number"
                                },
                                "from_id": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "likes": {
                                  "type": "object",
                                  "properties": {
                                    "author_liked": {
                                      "type": "boolean"
                                    },
                                    "can_like": {
                                      "type": "number"
                                    },
                                    "can_like_as_author": {
                                      "type": "number"
                                    },
                                    "can_publish": {
                                      "type": "number"
                                    },
                                    "count": {
                                      "type": "number"
                                    },
                                    "user_likes": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "owner_id": {
                                  "type": "number"
                                },
                                "parents_stack": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "post_id": {
                                  "type": "number"
                                },
                                "text": {
                                  "type": "string"
                                },
                                "thread": {
                                  "type": "object",
                                  "properties": {
                                    "can_post": {
                                      "type": "boolean"
                                    },
                                    "count": {
                                      "type": "number"
                                    },
                                    "groups_can_post": {
                                      "type": "boolean"
                                    },
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "date": {
                                            "type": "number"
                                          },
                                          "from_id": {
                                            "type": "number"
                                          },
                                          "id": {
                                            "type": "number"
                                          },
                                          "is_from_post_author": {
                                            "type": "boolean"
                                          },
                                          "likes": {
                                            "type": "object",
                                            "properties": {
                                              "author_liked": {
                                                "type": "boolean"
                                              },
                                              "can_like": {
                                                "type": "number"
                                              },
                                              "can_like_as_author": {
                                                "type": "number"
                                              },
                                              "can_publish": {
                                                "type": "number"
                                              },
                                              "count": {
                                                "type": "number"
                                              },
                                              "user_likes": {
                                                "type": "number"
                                              }
                                            }
                                          },
                                          "owner_id": {
                                            "type": "number"
                                          },
                                          "parents_stack": {
                                            "type": "array",
                                            "items": {
                                              "type": "number"
                                            }
                                          },
                                          "post_id": {
                                            "type": "number"
                                          },
                                          "reply_to_comment": {
                                            "type": "number"
                                          },
                                          "reply_to_user": {
                                            "type": "number"
                                          },
                                          "text": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "show_reply_button": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "count": {
                            "type": "number"
                          },
                          "groups_can_post": {
                            "type": "boolean"
                          },
                          "next_from": {
                            "type": "string"
                          },
                          "order": {
                            "type": "string"
                          },
                          "post_id": {
                            "type": "string"
                          },
                          "show_reply_button": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "profiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activity": {
                            "type": "string"
                          },
                          "can_access_closed": {
                            "type": "boolean"
                          },
                          "can_write_private_message": {
                            "type": "number"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "first_name_dat": {
                            "type": "string"
                          },
                          "first_name_gen": {
                            "type": "string"
                          },
                          "friend_status": {
                            "type": "number"
                          },
                          "has_unseen_stories": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "image_status": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "images": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  }
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "is_closed": {
                            "type": "boolean"
                          },
                          "is_verified": {
                            "type": "boolean"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "last_name_gen": {
                            "type": "string"
                          },
                          "last_seen": {
                            "type": "object",
                            "properties": {
                              "platform": {
                                "type": "number"
                              },
                              "time": {
                                "type": "number"
                              }
                            }
                          },
                          "mutual": {
                            "type": "object",
                            "properties": {
                              "count": {
                                "type": "number"
                              },
                              "users": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "photo_100": {
                            "type": "string"
                          },
                          "photo_200": {
                            "type": "string"
                          },
                          "photo_50": {
                            "type": "string"
                          },
                          "photo_base": {
                            "type": "string"
                          },
                          "sex": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-sitereconstructor": {
          "confidence": 0.87,
          "server_kind": "api",
          "category": "download",
          "source_url": "/method/wall.getCommentsForPosts",
          "draft": true
        }
      }
    },
    "/method/account.getInfo": {
      "post": {
        "tags": [
          "Other",
          "Api"
        ],
        "summary": "POST /method/account.getInfo",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 83%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "audio_permissions": {
                      "type": "object",
                      "properties": {
                        "audio_meta_info": {
                          "type": "boolean"
                        }
                      }
                    },
                    "community_comments": {
                      "type": "boolean"
                    },
                    "obscene_text_filter": {
                      "type": "boolean"
                    },
                    "settings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "available": {
                            "type": "boolean"
                          },
                          "forced": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.83,
          "server_kind": "api",
          "category": "other",
          "source_url": "/method/account.getInfo",
          "draft": true
        }
      }
    },
    "/method/account.getProfileDataLegacy": {
      "post": {
        "tags": [
          "Other",
          "Api"
        ],
        "summary": "POST /method/account.getProfileDataLegacy",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 83%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "avatar_edit_hash": {
                      "type": "string"
                    },
                    "cvbp": {
                      "type": "boolean"
                    },
                    "cvmbm": {
                      "type": "boolean"
                    },
                    "is_gif_autoplay_enabled": {
                      "type": "boolean"
                    },
                    "is_video_autoplay_enabled": {
                      "type": "boolean"
                    },
                    "market_analytics": {
                      "type": "object",
                      "properties": {
                        "hash": {
                          "type": "string"
                        },
                        "is_enabled": {
                          "type": "boolean"
                        }
                      }
                    },
                    "toggle_broadcast_hash": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.83,
          "server_kind": "api",
          "category": "other",
          "source_url": "/method/account.getProfileDataLegacy",
          "draft": true
        }
      }
    },
    "/method/appWidgets.get": {
      "post": {
        "tags": [
          "Other",
          "Api"
        ],
        "summary": "POST /method/appWidgets.get",
        "description": "Swagger 2.0 compatibility draft. Auth hint: none observed. Confidence: 82%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "privacy": {
                      "type": "string"
                    },
                    "privacy_code": {
                      "type": "number"
                    },
                    "type": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-sitereconstructor": {
          "confidence": 0.82,
          "server_kind": "api",
          "category": "other",
          "source_url": "/method/appWidgets.get",
          "draft": true
        }
      }
    },
    "/method/catalog.getClassifieds": {
      "post": {
        "tags": [
          "Other",
          "Api"
        ],
        "summary": "POST /method/catalog.getClassifieds",
        "description": "Swagger 2.0 compatibility draft. Auth hint: cookie/session. Confidence: 82%.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured or inferred response shape",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "catalog": {
                      "type": "object",
                      "properties": {
                        "default_section": {
                          "type": "string"
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "blocks": {
                              "type": "array",
                              "items": {
                                "type": "object",
[...]
